Repository jantman/machine-access-control: changes, and which pre-commit hooks are due for each by the changed paths.
All: sphinx, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: ^hardware/
  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        args: ["--ignore=E203,S301,S403,W503,C901"]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
  - repo: local
    hooks:
      - id: sphinx
        name: sphinx
        entry: "nox --non-interactive --session=docs"
        description: Build docs with sphinx.
        language: system
        files: "docs/source/"
        pass_filenames: false
        # run for every possible stage other than "manual", to prevent
        # a duplicate run in GitHub Actions, which also fails because
        # of a shallow git clone
        stages:
          [
            "commit-msg",
            "post-checkout",
            "post-commit",
            "post-merge",
            "post-rewrite",
            "pre-commit",
            "pre-merge-commit",
            "pre-push",
            "pre-rebase",
            "prepare-commit-msg",
          ]
      - id: mypy
        name: mypy
        entry: "nox --non-interactive --session=mypy --"
        description: Type checking with mypy.
        language: system
        files: "^(src/|tests/).*$"
        types: [python]
        pass_filenames: false
        # run for every possible stage other than "manual", to prevent
        # a duplicate run in GitHub Actions, which also fails because
        # of a shallow git clone
        stages:
          [
            "commit-msg",
            "post-checkout",
            "post-commit",
            "post-merge",
            "post-rewrite",
            "pre-commit",
            "pre-merge-commit",
            "pre-push",
            "pre-rebase",
            "prepare-commit-msg",
          ]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        # this fails on esphome's !secret notation
        exclude: ^esphome-configs/.*$
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: 1.7.0
    hooks:
      - id: pyproject-fmt
        additional_dependencies: [tox]
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.16
    hooks:
      - id: validate-pyproject
  - repo: https://github.com/sphinx-contrib/sphinx-lint
    rev: v0.9.1
    hooks:
      - id: sphinx-lint

Implement oops/lockout override login feature (001-oops-override)
  docs/source/admin.rst
  docs/source/configuration.rst
  docs/source/neon.rst
  docs/source/slack.rst
  specs/001-oops-override/tasks.md
  src/dm_mac/models/machine.py
  src/dm_mac/models/users.py
  src/dm_mac/neongetter.py
  src/dm_mac/slack_handler.py
  src/dm_mac/views/prometheus.py
  tests/fixtures/test_neongetter/users-happy.json
  tests/fixtures/users-changed.json
  tests/fixtures/users.json
  tests/models/test_machine_state.py
  tests/models/test_users.py
  tests/views/test_api.py
  tests/views/test_machine.py
  tests/views/test_prometheus.py
Due: sphinx, mypy

Address PR review feedback: fix logger format, exclude override from authorizations, add tests
  src/dm_mac/models/machine.py
  src/dm_mac/neongetter.py
  tests/test_neongetter.py
  tests/test_slack_handler.py
  tests/views/test_prometheus.py
Due: mypy

Remove unused safety dev dependency to fix nltk CVE-2026-33230/33231
  poetry.lock
  pyproject.toml
Due: none

Bump version to 0.10.0 for oops/lockout override login feature
  pyproject.toml
Due: none

Fix safety check: update requests to 2.33.0, ignore unfixed pygments CVE
  noxfile.py
  poetry.lock
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Update Claude Code workflow: add write permissions and allowed_tools
  .github/workflows/claude.yml
Due: none

fix EOF
  .github/workflows/claude-code-review.yml
Due: none

Fix deprecated allowed_tools input in Claude Code workflow
  .github/workflows/claude.yml
Due: none

Fix pull-requests permission in Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Due: none

Fix Claude Code Review workflow to post PR comments
  .github/workflows/claude-code-review.yml
Due: none

Bump dependencies to latest and resolve open Dependabot PRs
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/constraints.txt
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  poetry.lock
  pyproject.toml
Due: none

specify
  .claude/skills/speckit-analyze/SKILL.md
  .claude/skills/speckit-checklist/SKILL.md
  .claude/skills/speckit-clarify/SKILL.md
  .claude/skills/speckit-constitution/SKILL.md
  .claude/skills/speckit-git-commit/SKILL.md
  .claude/skills/speckit-git-feature/SKILL.md
  .claude/skills/speckit-git-initialize/SKILL.md
  .claude/skills/speckit-git-remote/SKILL.md
  .claude/skills/speckit-git-validate/SKILL.md
  .claude/skills/speckit-implement/SKILL.md
  .claude/skills/speckit-plan/SKILL.md
  .claude/skills/speckit-specify/SKILL.md
  .claude/skills/speckit-tasks/SKILL.md
  .claude/skills/speckit-taskstoissues/SKILL.md
  .specify/extensions.yml
  .specify/extensions/.registry
  .specify/extensions/git/README.md
  .specify/extensions/git/commands/speckit.git.commit.md
  .specify/extensions/git/commands/speckit.git.feature.md
  .specify/extensions/git/commands/speckit.git.initialize.md
  .specify/extensions/git/commands/speckit.git.remote.md
  .specify/extensions/git/commands/speckit.git.validate.md
  .specify/extensions/git/config-template.yml
  .specify/extensions/git/extension.yml
  .specify/extensions/git/git-config.yml
  .specify/extensions/git/scripts/bash/auto-commit.sh
  .specify/extensions/git/scripts/bash/create-new-feature.sh
  .specify/extensions/git/scripts/bash/git-common.sh
  .specify/extensions/git/scripts/bash/initialize-repo.sh
  .specify/extensions/git/scripts/powershell/auto-commit.ps1
  .specify/extensions/git/scripts/powershell/create-new-feature.ps1
  .specify/extensions/git/scripts/powershell/git-common.ps1
  .specify/extensions/git/scripts/powershell/initialize-repo.ps1
  .specify/init-options.json
  .specify/integration.json
  .specify/integrations/claude.manifest.json
  .specify/integrations/speckit.manifest.json
  .specify/workflows/speckit/workflow.yml
  .specify/workflows/workflow-registry.json
  CLAUDE.md
Due: none

[Spec Kit] Add second relay support specification and plan
  .specify/feature.json
  CLAUDE.md
  specs/002-second-relay-support/checklists/requirements.md
  specs/002-second-relay-support/contracts/machines-config-schema.md
  specs/002-second-relay-support/contracts/mcu-update-protocol.md
  specs/002-second-relay-support/data-model.md
  specs/002-second-relay-support/plan.md
  specs/002-second-relay-support/quickstart.md
  specs/002-second-relay-support/research.md
  specs/002-second-relay-support/spec.md
Due: none

[Spec Kit] Add task list and apply analyze-pass remediations
  specs/002-second-relay-support/data-model.md
  specs/002-second-relay-support/spec.md
  specs/002-second-relay-support/tasks.md
Due: none

Implement second-relay support per specs/002-second-relay-support.
  CLAUDE.md
  docs/source/configuration.rst
  docs/source/grafana-dashboard.md
  docs/source/http-api.rst
  docs/source/slack.rst
  esphome-configs/2025.11.2/no-current-input.yaml
  specs/002-second-relay-support/spec.md
  specs/002-second-relay-support/tasks.md
  src/dm_mac/models/api_schemas.py
  src/dm_mac/models/machine.py
  src/dm_mac/slack_handler.py
  src/dm_mac/views/prometheus.py
  tests/fixtures/golden-single-relay-response.json
  tests/fixtures/machines-second-relay.json
  tests/fixtures/users-second-relay.json
  tests/models/test_machine_config_second_relay.py
  tests/models/test_machine_second_relay.py
  tests/models/test_machine_second_relay_logs.py
  tests/models/test_machine_state.py
  tests/test_slack_handler_second_relay.py
  tests/views/test_machine.py
  tests/views/test_machine_always_enabled.py
  tests/views/test_machine_second_relay.py
  tests/views/test_prometheus_second_relay.py
Due: sphinx, mypy

Bump version to 0.11.0 for second-relay support feature.
  pyproject.toml
Due: none

Address Copilot PR review feedback.
  src/dm_mac/models/machine.py
  tests/models/test_machine_second_relay.py
  tests/models/test_machine_second_relay_logs.py
  tests/test_slack_handler_second_relay.py
  tests/views/test_machine_second_relay.py
  tests/views/test_prometheus_second_relay.py
Due: mypy

Address Copilot PR review feedback (round 2).
  docs/source/http-api.rst
  specs/002-second-relay-support/contracts/mcu-update-protocol.md
  specs/002-second-relay-support/plan.md
  specs/002-second-relay-support/research.md
  specs/002-second-relay-support/spec.md
  specs/002-second-relay-support/tasks.md
  src/dm_mac/models/machine.py
Due: sphinx, mypy

Address Copilot PR review feedback (round 3): doc accuracy + Slack punctuation.
  docs/source/slack.rst
  specs/002-second-relay-support/quickstart.md
  src/dm_mac/slack_handler.py
  tests/test_slack_handler_second_relay.py
Due: sphinx, mypy

Fix Claude code-review workflow tool allowlist parsing.
  .github/workflows/claude-code-review.yml
Due: none

mcu-heartbeat - 0: feature plan and incident analysis
  docs/2026-05-05-mcu-lockup-analysis.md
  docs/features/mcu-heartbeat-resilience.md
Due: none

mcu-heartbeat - 1: server-side write timeout returns 503
  CLAUDE.md
  src/dm_mac/models/machine.py
  src/dm_mac/views/machine.py
  src/dm_mac/views/prometheus.py
  tests/models/test_machine_state.py
  tests/views/test_machine.py
  tests/views/test_prometheus.py
Due: mypy

mcu-heartbeat - 2/3/4: firmware HTTP bounds, watchdog, task WDT panic
  docs/features/mcu-heartbeat-resilience.md
  esphome-configs/2025.11.2/no-current-input.yaml
Due: none

mcu-heartbeat - 5: documentation updates and acceptance
  docs/features/mcu-heartbeat-resilience.md
  docs/source/http-api.rst
Due: sphinx

mcu-heartbeat: address Copilot PR review feedback
  CLAUDE.md
  docs/source/http-api.rst
  esphome-configs/2025.11.2/no-current-input.yaml
  src/dm_mac/models/machine.py
  tests/models/test_machine_state.py
Due: sphinx, mypy

mcu-heartbeat: address Copilot PR review feedback (round 2)
  CLAUDE.md
  docs/source/http-api.rst
  src/dm_mac/models/machine.py
  src/dm_mac/views/machine.py
  tests/models/test_machine_state.py
  tests/views/test_machine.py
Due: sphinx, mypy

mcu-heartbeat: address Copilot PR review feedback (round 3)
  src/dm_mac/models/machine.py
  tests/models/test_machine_state.py
Due: mypy

mcu-heartbeat: address Copilot PR review feedback (round 4)
  CLAUDE.md
  src/dm_mac/models/api_schemas.py
  src/dm_mac/views/machine.py
Due: mypy

Potential fix for pull request finding
  docs/source/http-api.rst
Due: sphinx

chore(deps): refresh all deps; bump Python to 3.13; replace archived create-release
  .github/workflows/constraints.txt
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  .python-version
  Dockerfile
  docs/requirements.txt
  docs/source/conf.py
  docs/source/exts/sphinx_last_updated_by_git.py
  noxfile.py
  poetry.lock
  pyproject.toml
  src/dm_mac/__init__.py
  src/dm_mac/models/machine.py
  src/dm_mac/models/users.py
  src/dm_mac/neon_fob_adder.py
  src/dm_mac/neongetter.py
  src/dm_mac/slack_handler.py
  src/dm_mac/utils.py
  src/dm_mac/views/api.py
  src/dm_mac/views/machine.py
  src/dm_mac/views/prometheus.py
  tests/fixtures/test_neongetter/sanitizer.py
  tests/models/test_machine.py
  tests/models/test_machine_config_second_relay.py
  tests/models/test_machine_second_relay.py
  tests/models/test_machine_second_relay_logs.py
  tests/models/test_machine_state.py
  tests/test_cli_utils.py
  tests/test_neon_fob_adder.py
  tests/test_neongetter.py
  tests/test_slack_handler.py
  tests/test_slack_handler_second_relay.py
  tests/test_utils.py
  tests/views/test_machine_second_relay.py
  tests/views/test_prometheus.py
Due: sphinx, mypy

Bump version to 0.12.0 for MCU heartbeat resilience and dependency refresh.
  pyproject.toml
Due: none

Fix ESPHome 2025.11.2 compilation errors in MCU config
  esphome-configs/2025.11.2/no-current-input.yaml
  pyproject.toml
Due: none

Fix Claude code review workflow to post inline comments.
  .github/workflows/claude-code-review.yml
Due: none

Add 2026-05-11 MCU lockup follow-up analysis.
  docs/2026-05-11-mcu-lockup-analysis.md
Due: none

Fix MCU lockup recovery: hard-reboot watchdog, fleet-wide Slack alert, defense-in-depth WDTs.
  CLAUDE.md
  esphome-configs/2025.11.2/no-current-input.yaml
  src/dm_mac/__init__.py
  src/dm_mac/models/machine.py
  tests/models/test_machine_state.py
Due: mypy

chore(deps): refresh all deps; supersedes open Dependabot PRs.
  .github/workflows/constraints.txt
  poetry.lock
Due: none

Bump version to 0.13.0 for MCU lockup follow-up and dependency refresh.
  pyproject.toml
Due: none

chore(deps): refresh all application and CI dependencies.
  .github/workflows/constraints.txt
  poetry.lock
Due: none
