Repository jantman/machine-access-control: changes, and which pre-commit hooks are due for each by the changed paths.
All: sphinx, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: ^hardware/
  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        args: ["--ignore=E203,S301,S403,W503,C901"]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
  - repo: local
    hooks:
      - id: sphinx
        name: sphinx
        entry: "nox --non-interactive --session=docs"
        description: Build docs with sphinx.
        language: system
        files: "docs/source/"
        pass_filenames: false
        # run for every possible stage other than "manual", to prevent
        # a duplicate run in GitHub Actions, which also fails because
        # of a shallow git clone
        stages:
          [
            "commit-msg",
            "post-checkout",
            "post-commit",
            "post-merge",
            "post-rewrite",
            "pre-commit",
            "pre-merge-commit",
            "pre-push",
            "pre-rebase",
            "prepare-commit-msg",
          ]
      - id: mypy
        name: mypy
        entry: "nox --non-interactive --session=mypy --"
        description: Type checking with mypy.
        language: system
        files: "^(src/|tests/).*$"
        types: [python]
        pass_filenames: false
        # run for every possible stage other than "manual", to prevent
        # a duplicate run in GitHub Actions, which also fails because
        # of a shallow git clone
        stages:
          [
            "commit-msg",
            "post-checkout",
            "post-commit",
            "post-merge",
            "post-rewrite",
            "pre-commit",
            "pre-merge-commit",
            "pre-push",
            "pre-rebase",
            "prepare-commit-msg",
          ]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        # this fails on esphome's !secret notation
        exclude: ^esphome-configs/.*$
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: 1.7.0
    hooks:
      - id: pyproject-fmt
        additional_dependencies: [tox]
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.16
    hooks:
      - id: validate-pyproject
  - repo: https://github.com/sphinx-contrib/sphinx-lint
    rev: v0.9.1
    hooks:
      - id: sphinx-lint

bump version to 0.2.3
  pyproject.toml
Due: none

pyenv set 3.12
  .python-version
Due: none

hardware v1.1 docs (GX16 to M12)
  docs/source/hardware.rst
  docs/source/introduction.rst
Due: sphinx

Update all dependencies to fix security vulnerabilities
  poetry.lock
  pyproject.toml
Due: none

Fix typeguard session for pytest 9.x compatibility
  noxfile.py
Due: none

fix(ci): install poetry-plugin-export for docs build
  .github/workflows/docs.yaml
Due: none

chore: move docs.yaml to docs.yml
  .github/workflows/docs.yml
Due: none

docs: add CLAUDE.md for Claude Code guidance
  CLAUDE.md
Due: none

simple feature development pattern
  docs/features/README.md
  docs/features/completed/.gitkeep
Due: none

add m12-8 pinout diagram
  docs/source/hardware.rst
  hardware/v1_mcu/m12-8pinout.png
Due: sphinx

always-enabled feature spec
  docs/features/always-enabled-machine.md
Due: none

CLAUDE.md feature instructions
  CLAUDE.md
Due: none

always-enabled: add detailed implementation plan
  docs/features/always-enabled-machine.md
Due: none

always-enabled - 1.3: Configuration and Model Updates complete
  docs/features/always-enabled-machine.md
  src/dm_mac/models/machine.py
  tests/models/test_machine.py
Due: mypy

always-enabled - 2.3: State Logic Updates complete
  docs/features/always-enabled-machine.md
  src/dm_mac/models/machine.py
Due: mypy

always-enabled - 3.x: Unit tests implementation (in progress)
  docs/features/always-enabled-machine.md
  tests/fixtures/machines.json
  tests/models/test_machine.py
  tests/test_slack_handler.py
  tests/views/test_machine_always_enabled.py
  tests/views/test_prometheus.py
Due: mypy

always-enabled - 3.4: Unit tests and test fixtures complete
  tests/views/test_machine_always_enabled.py
  tests/views/test_prometheus.py
Due: mypy

always-enabled - 4.4: Feature complete! ✅
  CLAUDE.md
  docs/features/completed/always-enabled-machine.md
Due: none

minor version bump to 0.3.0
  pyproject.toml
Due: none

fix: Address Copilot review comments on always_enabled feature
  src/dm_mac/models/machine.py
  tests/fixtures/machines.json
  tests/views/test_machine_always_enabled.py
Due: mypy

Track RFID values on always-enabled machines for auditing
  src/dm_mac/models/machine.py
  tests/views/test_machine_always_enabled.py
Due: mypy

Add standalone ESPHome hardware test configuration
  esphome-configs/2024.6.4/hardware-test.md
  esphome-configs/2024.6.4/hardware-test.yaml
Due: none

Hardware test ESPHome config is for 2025.11.2 not 2024.6.4
  esphome-configs/2025.11.2/hardware-test.md
  esphome-configs/2025.11.2/hardware-test.yaml
Due: none

ESPHome version compatibility fixes
  docs/source/hardware.rst
  esphome-configs/2025.11.2/no-current-input.yaml
Due: sphinx

hardware docs - add info on hardware test config
  docs/source/hardware.rst
Due: sphinx

Update all dependencies to latest versions including Dependabot PRs
  .github/workflows/constraints.txt
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  poetry.lock
  pyproject.toml
Due: none

Add optional alias field to machine configuration for human-friendly names
  CLAUDE.md
  docs/source/configuration.rst
  docs/source/slack.rst
  src/dm_mac/models/machine.py
  src/dm_mac/slack_handler.py
  tests/fixtures/machines.json
  tests/models/test_machine.py
  tests/test_slack_handler.py
  tests/views/test_machine.py
Due: sphinx, mypy

Add comprehensive Grafana dashboard for system monitoring and visualization
  docs/source/admin.rst
  docs/source/grafana-dashboard.json
  docs/source/grafana-dashboard.md
Due: sphinx

Add display_name label to Prometheus metrics and update Grafana dashboard
  docs/source/admin.rst
  docs/source/grafana-dashboard.json
  docs/source/grafana-dashboard.md
  src/dm_mac/views/prometheus.py
  tests/views/test_prometheus.py
Due: sphinx, mypy

bump version to 0.4.0
  pyproject.toml
Due: none

Update Neon API version from 2.8 to 2.11 - neongetter was getting HTTP 410 - see https://developer.neoncrm.com/2025/10/01/api-version-2-8-deprecation/
  pyproject.toml
  src/dm_mac/neongetter.py
  tests/test_neongetter.py
Due: mypy

Add users config file tracking with mtime, Prometheus metric, and Slack status
  docs/source/admin.rst
  src/dm_mac/models/users.py
  src/dm_mac/slack_handler.py
  src/dm_mac/views/prometheus.py
  tests/models/test_users.py
  tests/test_slack_handler.py
  tests/views/test_prometheus.py
Due: sphinx, mypy

add comment
  src/dm_mac/models/users.py
Due: mypy

Add server uptime to Slack machine status response
  src/dm_mac/slack_handler.py
  tests/test_slack_handler.py
Due: mypy

bump version to 0.6.0
  pyproject.toml
Due: none

Add static user entries support to neongetter configuration
  docs/source/neon.rst
  src/dm_mac/neongetter.py
  tests/fixtures/neon.config-with-static-dupe.json
  tests/fixtures/neon.config-with-static.json
  tests/test_neongetter.py
Due: sphinx, mypy

Update static fobs documentation to clarify use cases
  docs/source/neon.rst
Due: sphinx

bump version to 0.7.0
  pyproject.toml
Due: none

Address PR review comments for static fobs feature
  src/dm_mac/neongetter.py
  tests/fixtures/neon.config-with-static-internal-dupe.json
  tests/test_neongetter.py
Due: mypy

Fix 6 security vulnerabilities in dependencies
  poetry.lock
  pyproject.toml
Due: none
