Repository jantman/machine-access-control: changes, and which pre-commit hooks are due for each by the changed paths.
All: sphinx, mypy

sphinx:
  name: sphinx
  entry: nox --non-interactive --session=docs
  description: Build docs with sphinx.
  language: system
  pass_filenames: false
  stages:
  - commit-msg
  - post-checkout
  - post-commit
  - post-merge
  - post-rewrite
  - pre-commit
  - pre-merge-commit
  - pre-push
  - pre-rebase
  - prepare-commit-msg

mypy:
  name: mypy
  entry: nox --non-interactive --session=mypy --
  description: Type checking with mypy.
  language: system
  pass_filenames: false
  stages:
  - commit-msg
  - post-checkout
  - post-commit
  - post-merge
  - post-rewrite
  - pre-commit
  - pre-merge-commit
  - pre-push
  - pre-rebase
  - prepare-commit-msg

gitignore some utility files
  .gitignore
Due: none

WIP utility scripts
  .gitignore
  util/README.md
  util/analyze_authorizations.py
  util/analyze_fob_access.py
  util/combine_user_access.py
  util/users_with_authorizations.py
Due: none

feature doc
  docs/features/bulk-fob-adder.md
Due: none

bulk-fob-adder - M1.5: Complete core NeonFobUpdater class implementation
  docs/features/bulk-fob-adder.md
  src/dm_mac/neon_fob_adder.py
Due: mypy

bulk-fob-adder - M2.3: Complete interactive helper and logging
  docs/features/bulk-fob-adder.md
  src/dm_mac/neon_fob_adder.py
Due: mypy

bulk-fob-adder - M3.5: Complete CLI implementation
  docs/features/bulk-fob-adder.md
  pyproject.toml
Due: none

bulk-fob-adder - M4.7: Complete comprehensive testing
  docs/features/bulk-fob-adder.md
  src/dm_mac/neon_fob_adder.py
  tests/fixtures/test_neon_fob_adder/get_account.yaml
  tests/fixtures/test_neon_fob_adder/get_account_with_fobcsv.yaml
  tests/fixtures/test_neon_fob_adder/get_custom_fields.yaml
  tests/fixtures/test_neon_fob_adder/patch_account.yaml
  tests/fixtures/test_neon_fob_adder/test_accounts.csv
  tests/test_neon_fob_adder.py
Due: mypy

bulk-fob-adder - M5.5: Complete acceptance criteria and feature
  CLAUDE.md
  docs/features/completed/bulk-fob-adder.md
  docs/source/dm_mac.neon_fob_adder.rst
  docs/source/dm_mac.rst
  docs/source/neon.rst
Due: sphinx

Add last_name field to User model and update all related components
  docs/source/neon.rst
  src/dm_mac/models/users.py
  src/dm_mac/neongetter.py
  tests/fixtures/neon.config-with-static-dupe.json
  tests/fixtures/neon.config-with-static-internal-dupe.json
  tests/fixtures/neon.config-with-static.json
  tests/fixtures/neon.config.json
  tests/fixtures/test_neongetter/sanitizer.py
  tests/fixtures/test_neongetter/users-happy.json
  tests/fixtures/users-changed.json
  tests/fixtures/users.json
  tests/models/test_users.py
  tests/test_neongetter.py
  tests/views/test_api.py
Due: sphinx, mypy

Fix test isolation issue by preserving working directory
  tests/conftest.py
Due: mypy

neongetter - increase read timeout from 10s to 30s
  src/dm_mac/neongetter.py
Due: mypy

Refactor analyze_fob_access.py to aggregate FOB access by user and add top users report
  poetry.lock
  pyproject.toml
  util/README.md
  util/analyze_fob_access.py
Due: none

bump version to 0.8.0
  pyproject.toml
Due: none

Add --only-one-fob option to filter top_users.csv by single fob users
  util/analyze_fob_access.py
Due: none

Generate bash script to print labels for top users
  util/analyze_fob_access.py
Due: none

Add pt-p710bt-label-maker reference to generated label script
  util/analyze_fob_access.py
Due: none

Make name sorting case-insensitive in analyze_fob_access.py
  util/analyze_fob_access.py
Due: none

gitignore label printing script
  .gitignore
Due: none

Add input validation loop to neon-fob-adder for robust fob entry
  src/dm_mac/neon_fob_adder.py
  tests/test_neon_fob_adder.py
Due: mypy

gitignore util txt files
  .gitignore
Due: none

add docs
  util/README.md
Due: none

Fix Oops Button panel colors and auto-repeat Machine Details for all machines
  docs/source/grafana-dashboard.json
Due: sphinx

Fix Grafana dashboard variable query for Machine Details row repeat
  docs/source/grafana-dashboard.json
Due: sphinx

feature
  docs/features/always-enabled-config-change.md
  docs/features/template.md
Due: none

AEC-1.1 Add logic to reset stale always-enabled state
  src/dm_mac/models/machine.py
Due: mypy

AEC-1.2 Add test for always_enabled config change to disabled
  tests/views/test_machine_always_enabled.py
Due: mypy

AEC-2 Complete acceptance criteria and move feature doc
  docs/features/always-enabled-config-change.md
  docs/features/completed/always-enabled-config-change.md
Due: none

version bump to 0.8.1
  pyproject.toml
Due: none

Add SpecKit tooling and ratify project constitution v1.0.0
  .claude/commands/speckit.analyze.md
  .claude/commands/speckit.checklist.md
  .claude/commands/speckit.clarify.md
  .claude/commands/speckit.constitution.md
  .claude/commands/speckit.implement.md
  .claude/commands/speckit.plan.md
  .claude/commands/speckit.specify.md
  .claude/commands/speckit.tasks.md
  .claude/commands/speckit.taskstoissues.md
  .specify/init-options.json
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/constitution-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
Due: none

Replace deprecated safety check with pip-audit
  noxfile.py
Due: none

Update all Python and GitHub Actions dependencies
  .github/workflows/constraints.txt
  .github/workflows/docs.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  docs/requirements.txt
  docs/source/conf.py
  docs/source/dm_mac.cli_utils.rst
  docs/source/dm_mac.models.machine.rst
  docs/source/dm_mac.models.rst
  docs/source/dm_mac.models.users.rst
  docs/source/dm_mac.neon_fob_adder.rst
  docs/source/dm_mac.neongetter.rst
  docs/source/dm_mac.rst
  docs/source/dm_mac.slack_handler.rst
  docs/source/dm_mac.utils.rst
  docs/source/dm_mac.views.api.rst
  docs/source/dm_mac.views.machine.rst
  docs/source/dm_mac.views.prometheus.rst
  docs/source/dm_mac.views.rst
  poetry.lock
  pyproject.toml
  tests/test_slack_handler.py
Due: sphinx, mypy

Add poetry-plugin-export to CI for Poetry 2.x compatibility
  .github/workflows/tests.yml
Due: none

Version bump to 0.9.0
  pyproject.toml
Due: none

Fixes #59: Add OpenAPI documentation with quart-schema and sphinxcontrib-openapi
  .gitignore
  docs/export_openapi.py
  docs/requirements.txt
  docs/source/conf.py
  docs/source/dm_mac.models.api_schemas.rst
  docs/source/dm_mac.models.rst
  docs/source/http-api.rst
  docs/source/index.rst
  noxfile.py
  poetry.lock
  pyproject.toml
  src/dm_mac/__init__.py
  src/dm_mac/models/api_schemas.py
  src/dm_mac/views/api.py
  src/dm_mac/views/machine.py
  tests/views/test_api.py
  tests/views/test_machine.py
Due: sphinx, mypy

Version bump to 0.9.1
  pyproject.toml
  src/dm_mac/__init__.py
Due: mypy

Restore original update() docstring, logging, and tests
  src/dm_mac/views/machine.py
  tests/views/test_machine.py
Due: mypy

Add field descriptions to Pydantic models and fix docstring RST conflicts
  src/dm_mac/models/api_schemas.py
  src/dm_mac/views/machine.py
Due: mypy

Update all Python and GitHub Actions dependencies
  .github/workflows/constraints.txt
  .github/workflows/docs.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  poetry.lock
  pyproject.toml
Due: none

Add feature spec for oops/lockout override login (001-oops-override)
  specs/001-oops-override/checklists/requirements.md
  specs/001-oops-override/spec.md
Due: none

Add implementation plan, research, data model, contracts, and tasks for 001-oops-override
  CLAUDE.md
  specs/001-oops-override/contracts/machine-update-response.md
  specs/001-oops-override/data-model.md
  specs/001-oops-override/plan.md
  specs/001-oops-override/quickstart.md
  specs/001-oops-override/research.md
  specs/001-oops-override/spec.md
  specs/001-oops-override/tasks.md
Due: none

Path conditions:
  sphinx: any of: docs/source/
  mypy: any of: ^(src/|tests/).*$ and \.py$
