Repository jantman/machine-access-control: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, end-of-file-fixer, flake8, pyupgrade, sphinx, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
        stages: [manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: ^hardware/
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        args: ["--ignore=S301,S403,W503,C901", --darglint-ignore-regex, .*]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files"]
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: sphinx
        name: sphinx
        entry: "nox --non-interactive --session=docs"
        description: Build docs with sphinx.
        language: system
        files: "docs/source/"
        pass_filenames: false
        # run for every possible stage other than "manual", to prevent
        # a duplicate run in GitHub Actions, which also fails because
        # of a shallow git clone
        stages:
          [
            "commit-msg",
            "post-checkout",
            "post-commit",
            "post-merge",
            "post-rewrite",
            "pre-commit",
            "pre-merge-commit",
            "pre-push",
            "pre-rebase",
            "prepare-commit-msg",
          ]
      - id: mypy
        name: mypy
        entry: "nox --non-interactive --session=mypy --"
        description: Type checking with mypy.
        language: system
        files: "^(src/|tests/).*$"
        types: [python]
        # run for every possible stage other than "manual", to prevent
        # a duplicate run in GitHub Actions, which also fails because
        # of a shallow git clone
        stages:
          [
            "commit-msg",
            "post-checkout",
            "post-commit",
            "post-merge",
            "post-rewrite",
            "pre-commit",
            "pre-merge-commit",
            "pre-push",
            "pre-rebase",
            "prepare-commit-msg",
          ]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        # this fails on esphome's !secret notation
        exclude: ^esphome-configs/.*$
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: 1.7.0
    hooks:
      - id: pyproject-fmt
        additional_dependencies: [tox]
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.16
    hooks:
      - id: validate-pyproject
  - repo: https://github.com/sphinx-contrib/sphinx-lint
    rev: v0.9.1
    hooks:
      - id: sphinx-lint

Issue #35 - WIP prometheus support
  .idea/machine-access-control.iml
  .idea/misc.xml
  .pre-commit-config.yaml
  docs/source/admin.rst
  docs/source/dm_mac.views.prometheus.rst
  docs/source/dm_mac.views.rst
  docs/source/index.rst
  src/dm_mac/views/prometheus.py
  tests/views/test_prometheus.py
Due: black, end-of-file-fixer, flake8, pyupgrade, sphinx, mypy

More renderings for wiring
  hardware/v1_mcu/Hardware_v1.pdf
  hardware/v1_mcu/Hardware_v1.svg
  hardware/v1_mcu/Hardware_v1_scaled.pdf
Due: none

Issue #35 - docs and tests
  docs/source/hardware.rst
  docs/source/introduction.rst
  tests/views/test_prometheus.py
Due: black, end-of-file-fixer, flake8, pyupgrade, sphinx, mypy

update hardware docs
  docs/source/hardware.rst
Due: end-of-file-fixer, sphinx

Fixes #35 - implement prometheus endpoint
  docs/source/admin.rst
  src/dm_mac/views/prometheus.py
  tests/views/test_prometheus.py
Due: black, end-of-file-fixer, flake8, pyupgrade, sphinx, mypy

Fix admin page markup
  docs/source/admin.rst
Due: end-of-file-fixer, sphinx

Fixes #60 - Implement API for machine oops control
  src/dm_mac/views/machine.py
  tests/views/test_machine.py
Due: black, end-of-file-fixer, flake8, pyupgrade, mypy

Fixes #51 - Implement lock and unlock endpoints
  src/dm_mac/models/machine.py
  src/dm_mac/views/machine.py
  tests/views/test_machine.py
Due: black, end-of-file-fixer, flake8, pyupgrade, mypy

update esphome config
  esphome-configs/2024.6.4/no-current-input.yaml
Due: end-of-file-fixer

gitignore configs
  .gitignore
Due: end-of-file-fixer

WIP convert from Flask to Quart
  poetry.lock
  pyproject.toml
  src/dm_mac/__init__.py
  src/dm_mac/views/api.py
  src/dm_mac/views/machine.py
  src/dm_mac/views/prometheus.py
  tests/views/quart_test_helpers.py
  tests/views/test_api.py
  tests/views/test_machine.py
  tests/views/test_prometheus.py
Due: black, end-of-file-fixer, flake8, pyupgrade, mypy

fix tests for asyncio
  noxfile.py
  src/dm_mac/views/api.py
  src/dm_mac/views/machine.py
  src/dm_mac/views/prometheus.py
  tests/views/quart_test_helpers.py
  tests/views/test_api.py
  tests/views/test_machine.py
  tests/views/test_prometheus.py
Due: black, end-of-file-fixer, flake8, pyupgrade, mypy

Switch from Flask to Quart (asyncio)
  README.rst
  docs/source/introduction.rst
  hardware/v1_mcu/CCR10S_enclosure-lid.gcode
  hardware/v1_mcu/CCR10S_enclosure-lid.html
  noxfile.py
  poetry.lock
  pyproject.toml
  src/dm_mac/__init__.py
  src/dm_mac/models/machine.py
  src/dm_mac/views/api.py
  src/dm_mac/views/machine.py
  src/dm_mac/views/prometheus.py
  tests/views/quart_test_helpers.py
  tests/views/test_api.py
  tests/views/test_machine.py
  tests/views/test_prometheus.py
Due: black, end-of-file-fixer, flake8, pyupgrade, sphinx, mypy

reduce update interval of some sensors
  esphome-configs/2024.6.4/no-current-input.yaml
Due: end-of-file-fixer

ESPHome tweaking
  esphome-configs/2024.6.4/no-current-input.yaml
Due: end-of-file-fixer

pre-commit fixes
  .pre-commit-config.yaml
Due: end-of-file-fixer

Issue #34 - use explicit asyncio loop for app
  .pre-commit-config.yaml
  docs/source/contributing.rst
  pyproject.toml
  src/dm_mac/__init__.py
Due: black, end-of-file-fixer, flake8, pyupgrade, sphinx, mypy

WIP broken Quart/Slack implementation
  docs/source/configuration.rst
  docs/source/index.rst
  docs/source/slack.rst
  poetry.lock
  pyproject.toml
  src/dm_mac/slack_app.py
Due: black, end-of-file-fixer, flake8, pyupgrade, sphinx, mypy

WIP Slack support
  poetry.lock
  pyproject.toml
  src/dm_mac/__init__.py
  src/dm_mac/slack_handler.py
  src/dm_mac/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, mypy

WIP tests
  docs/source/slack.rst
  src/dm_mac/__init__.py
  src/dm_mac/slack_app.py
  tests/test_init.py
  tests/views/test_machine.py
  tests/views/test_prometheus.py
Due: black, end-of-file-fixer, flake8, pyupgrade, sphinx, mypy

WIP coverage
  .idea/machine-access-control.iml
  .idea/misc.xml
  src/dm_mac/__init__.py
  tests/test_init.py
Due: black, end-of-file-fixer, flake8, pyupgrade, mypy

Issue #34 - coverage for all current code
  .idea/machine-access-control.iml
  .idea/misc.xml
  .pre-commit-config.yaml
  docs/source/dm_mac.rst
  docs/source/dm_mac.slack_handler.rst
  src/dm_mac/__init__.py
  src/dm_mac/slack_handler.py
  tests/test_init.py
  tests/test_slack_handler.py
  tests/test_utils.py
  tests/views/test_prometheus.py
Due: black, end-of-file-fixer, flake8, pyupgrade, sphinx, mypy

Issue #34 - WIP logging to slack; model methods need to be async too
  src/dm_mac/models/machine.py
  src/dm_mac/slack_handler.py
Due: black, end-of-file-fixer, flake8, pyupgrade, mypy

Issue #34 - WIP slack integration and test coverage
  src/dm_mac/models/machine.py
  src/dm_mac/slack_handler.py
  src/dm_mac/views/machine.py
  tests/test_slack_handler.py
  tests/views/test_machine.py
Due: black, end-of-file-fixer, flake8, pyupgrade, mypy

esphome config - update for moved pin
  esphome-configs/2024.6.4/no-current-input.yaml
Due: end-of-file-fixer

Fixes #34 - Slack integration
  src/dm_mac/models/machine.py
  tests/test_slack_handler.py
  tests/views/test_machine.py
Due: black, end-of-file-fixer, flake8, pyupgrade, mypy

Issue #34 - Slack notifications fire-and-forget
  src/dm_mac/__init__.py
  src/dm_mac/slack_handler.py
  tests/test_init.py
Due: black, end-of-file-fixer, flake8, pyupgrade, mypy

Fixes #63 - allow Neon fob number fields to be CSV
  src/dm_mac/neongetter.py
  tests/fixtures/neon.config.json
  tests/fixtures/test_neongetter/run-config-reload.yaml
  tests/fixtures/test_neongetter/run.yaml
  tests/fixtures/test_neongetter/users-happy.json
Due: black, end-of-file-fixer, flake8, pyupgrade, mypy

Build/release process and Docker image
  .dockerignore
  .github/workflows/release.yml
  .github/workflows/tests.yml
  Dockerfile
  docs/source/contributing.rst
  src/dm_mac/__init__.py
Due: black, end-of-file-fixer, flake8, pyupgrade, sphinx, mypy

fix some tests
  tests/models/test_users.py
  tests/test_init.py
Due: black, end-of-file-fixer, flake8, pyupgrade, mypy

more docs
  .gitignore
  docs/source/installation.rst
  tests/fixtures/docker-compose.yml
  tests/fixtures/machine_state/.gitkeep
Due: end-of-file-fixer, sphinx

gitignore
  .gitignore
Due: end-of-file-fixer

Bump version to 0.2.0
  pyproject.toml
Due: end-of-file-fixer

fix release workflow
  .github/workflows/release.yml
Due: end-of-file-fixer

patch version bump
  pyproject.toml
Due: end-of-file-fixer

disable PyPI publish for now - using direct git dependency
  .github/workflows/release.yml
  pyproject.toml
Due: end-of-file-fixer

update hardware info
  docs/source/hardware.rst
  hardware/v1_mcu/README.md
Due: end-of-file-fixer, sphinx

update dependencies to pull in new slack libraries now that my PRs are released
  poetry.lock
  pyproject.toml
Due: end-of-file-fixer

re-enable PyPI publish
  .github/workflows/release.yml
  pyproject.toml
Due: end-of-file-fixer
