Repository jantman/machine-access-control: changes, and which pre-commit hooks are due for each by the changed paths.
All: sphinx, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: ^hardware/
  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        args: ["--ignore=E203,S301,S403,W503,C901"]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
  - repo: local
    hooks:
      - id: sphinx
        name: sphinx
        entry: "nox --non-interactive --session=docs"
        description: Build docs with sphinx.
        language: system
        files: "docs/source/"
        pass_filenames: false
        # run for every possible stage other than "manual", to prevent
        # a duplicate run in GitHub Actions, which also fails because
        # of a shallow git clone
        stages:
          [
            "commit-msg",
            "post-checkout",
            "post-commit",
            "post-merge",
            "post-rewrite",
            "pre-commit",
            "pre-merge-commit",
            "pre-push",
            "pre-rebase",
            "prepare-commit-msg",
          ]
      - id: mypy
        name: mypy
        entry: "nox --non-interactive --session=mypy --"
        description: Type checking with mypy.
        language: system
        files: "^(src/|tests/).*$"
        types: [python]
        pass_filenames: false
        # run for every possible stage other than "manual", to prevent
        # a duplicate run in GitHub Actions, which also fails because
        # of a shallow git clone
        stages:
          [
            "commit-msg",
            "post-checkout",
            "post-commit",
            "post-merge",
            "post-rewrite",
            "pre-commit",
            "pre-merge-commit",
            "pre-push",
            "pre-rebase",
            "prepare-commit-msg",
          ]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        # this fails on esphome's !secret notation
        exclude: ^esphome-configs/.*$
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: 1.7.0
    hooks:
      - id: pyproject-fmt
        additional_dependencies: [tox]
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.16
    hooks:
      - id: validate-pyproject
  - repo: https://github.com/sphinx-contrib/sphinx-lint
    rev: v0.9.1
    hooks:
      - id: sphinx-lint

slack-slash-command - 1.1: make MachinesConfig.get_machine() case-insensitive
  src/dm_mac/models/machine.py
Due: mypy

slack slash command
  docs/features/slack-slack-command.md
Due: none

slack-slash-command - 3.1/3.2: /oops-clear Block Kit selection modal
  src/dm_mac/slack_handler.py
  tests/test_slack_handler.py
Due: mypy

slack-slash-command - 2.3: tests for /oops-clear direct form
  docs/features/slack-slack-command.md
  tests/test_slack_handler.py
Due: mypy

slack-slash-command - 4.x: docs, HELP_RESPONSE, finalize feature
  CLAUDE.md
  docs/features/completed/slack-slack-command.md
  docs/source/slack.rst
  src/dm_mac/slack_handler.py
Due: sphinx, mypy

slack-slash-command - 2.2: implement /oops-clear direct form + channel gating
  src/dm_mac/slack_handler.py
  tests/test_slack_handler.py
Due: mypy

docs(feature): add implementation plan for Slack /oops-clear slash command
  docs/features/slack-slack-command.md
Due: none

slack-slash-command - 3.3: tests for /oops-clear modal flow
  docs/features/slack-slack-command.md
  tests/test_slack_handler.py
Due: mypy

slack-slash-command - 1.2: tests for case-insensitive machine matching
  docs/features/slack-slack-command.md
  tests/models/test_machine.py
  tests/test_slack_handler.py
Due: mypy

slack-slash-command - 2.1: extract shared clear/invalid-machine helpers
  src/dm_mac/slack_handler.py
Due: mypy

slack-slash-command: address PR review comments
  docs/features/completed/slack-slack-command.md
  docs/source/slack.rst
  src/dm_mac/models/machine.py
  src/dm_mac/slack_handler.py
  tests/models/test_machine.py
Due: sphinx, mypy

Re-point ownership references from jantman to Decaturmakers org
  .github/workflows/release.yml
  README.rst
  docs/Makefile
  docs/source/contributing.rst
  docs/source/grafana-dashboard.json
  docs/source/grafana-dashboard.md
  docs/source/hardware.rst
  docs/source/installation.rst
  hardware/v1_mcu/README.md
  hardware/v1_mcu/gx16-8.scad
  hardware/v1_mcu/neopixel.scad
  hardware/v1_mcu/oops_button.scad
  hardware/v1_mcu/relay.scad
  hardware/v1_mcu/rfid.scad
  hardware/v1_mcu/rfid_holder/README.md
  pyproject.toml
  src/dm_mac/slack_handler.py
Due: sphinx, mypy

Lowercase GHCR image repository name in docker builds
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

Automate release on pyproject version bump
  .github/workflows/release.yml
  CLAUDE.md
  docs/source/contributing.rst
Due: sphinx
